
<!--Shopping Cart Page-->
<!DOCTYPE HTML>

<html>
<center>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.w3-bar,h1,button {font-family: "Roboto:400i", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
body{
  background-image: url("https://raw.githubusercontent.com/aahadley/random-bag/master/static/css/QuantumPhysics2.jpg");
  background-repeat: no-repeat-y;
}
</style>
<body>

<div class="w3-row-padding w3-padding-16 w3-center w3-container">
		<div class="w3-content" style="padding:15px 60px">
			<div style="background-color:lightgrey;">
<p>
<header class="w3-margin w3-jumbo w3-text-light-grey" style="padding:25px 25px">
<h2 class="w3-text-light-grey"><b>The universe has spoken!
We hope you enjoy your Random bag of $#!t!</b></h2>

 <img src="https://m.media-amazon.com/images/I/31VaoN0M1xL._AC_UL436_.jpg"> 
 <h3>Modern Décor Wood Aluminum Black Jack Set</h3>
 <h4>$7068</h4>

<p>
 <img src="https://m.media-amazon.com/images/I/51TmtxNjcGL._AC_UL436_.jpg">
 <h3>Riders of the Dusk 1949 Authentic 11 x 14 Original Lobby Card Whip Wilson Western</h3>
  <h4>$2500</h4>


</div>
</div>
</div>
</center>
</html>
