<!--Registration page-->
<!DOCTYPE HTML>

<html>
<center>
<title>Registration</title>
<header class="w3-margin w3-jumbo w3-text-light-grey" style="padding:25px 25px">
<h1 class="w3-text-light-grey"><b>Welcome to the Registration Page!!</b></h1>
<h1 class="w3-text-light-grey"><i>Order your $#!t here</i></h1></div>
</div>
</header>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sheet.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Roboto:400i" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.w3-bar,h1,button {font-family: "Roboto:400i", sans-serif}
.fa-anchor,.fa-coffee {font-size:50px}
body{
  background-image: url("https://raw.githubusercontent.com/aahadley/random-bag/master/static/css/QuantumPhysics2.jpg");
  background-repeat: round;
}
</style>
<body>


<div class="w3-row-padding w3-padding-16 w3-center w3-container">
		<div class="w3-content" style="padding:10px 60px">
			<div style="background-color:lightgrey;">
<h2>Who are you?</h2>
<form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  Email Address:<br>
  <input type="text" name="email"><br>

<h2>What kind of money are you dealing with?</h2>

<label for="price" style="font-family:Roboto;">Maximum Price you are willing to spend:</label><br>
<input type="text" name="pricemax" placeholder="100,000"><br>
<label for="price" style="font-family:Roboto;">Minimum Price you are willing to spend:</label><br>
<input type="text" name="pricemin" placeholder="1"><br>
<h4><i>$0 in both fields gets you a free email from us!</i></h4>

<h2>How did you get here?</h2>

<h4><input type="radio" name="answer">Google<br></h4>
<h4><input type="radio" name="answer">A friend<br></h4>
<h4><input type="radio" name="answer">A family member<br></h4>
<h4><input type="radio" name="answer">I am a photon, I came here randomly<br></h4>
<input type="submit" value="Submit" class="w3-button w3-blue-grey w3-padding-large w3-large w3-margin-top" class="btn btn-lg btn-success">
</form>
</div>
</div>
</div>

</body>
</center>
</html> 
