<!--Testimonals page-->

<!DOCTYPE HTML>
<html>
<center>
<title>Registration</title>

<h1 class="w3-text-light-grey"><b>Testimonials!!</b></h1>
</div>
</header>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sheet.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Roboto:400i" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body{
  background-image: url("https://raw.githubusercontent.com/aahadley/random-bag/master/static/css/QuantumPhysics2.jpg");
  background-repeat: round;
}

</style>
<body>

<div class="w3-row-padding w3-padding-16 w3-center w3-container">
	<div class="w3-content" style="padding:15px 60px">
			<div style="background-color:lightgrey;">
<p>
  <div class="w3-container">

  	 <blockquote class="w3-panel w3-leftbar w3-light-grey">
    <p class="w3-large"><i><h3>"I bought my first Random Bag of $#!t as a joke, but now I can't stop ordering!" <br></h3></i></p>
    <p> John Sam</p>
  </blockquote> 

  	  <blockquote class="w3-panel w3-leftbar w3-light-grey">
	<h3><i>"Random bag of $#!t cleared my skin, paid my bills, and glazed my virginia ham."</i><br></h3>
		<p> Cathy May<p>
		</blockquote> 

		  	  <blockquote class="w3-panel w3-leftbar w3-light-grey">
	<h3><i>"For everyone's birthday, they get a Random bag of $#!t and they love it!!"</i><br></h3>
		<p> Timothy Knees<p>
		</blockquote> 

  <blockquote class="w3-panel w3-leftbar w3-light-grey">
    <p class="w3-large"><i><h3>"I never considered bearing arms until Random Bag of $#!t sent me this glock. Thanks universe!" <br></h3></i></p>
    <p> Betty Baker</p>
  </blockquote> 

  	<img src="https://raw.githubusercontent.com/aahadley/random-bag/master/static/css/betty.jpg" class="w3-circle" alt="betty gun">

</div>
</div>
</div>
</div>
</p>
</body>
</center>
</html>
